<h1>PING <span>.</span></h1>
<h2>We are launching <span>soon!</span></h2>
<p>Subscribe to get notified</p>
<form>
  <input type="email" name="" id="" placeholder="Your email address..." [formControl]="email">
  <p class="error" *ngIf="email.invalid">Please provide a valid email address</p>
  <input type="submit" value="Notify Me" [disabled]="email.invalid">
</form>
<img src="../assets/images/illustration-dashboard.png" alt="">
<div class="social">
  <fa-icon [icon]="faFacebook"></fa-icon>
  <fa-icon [icon]="faTwitter"></fa-icon>
  <fa-icon [icon]="faInstagram"></fa-icon>
</div>
<footer>
  <p>&copy; Copyright Ping. All rights reserved</p>
</footer>